@use '@sass/variables' as *

.queue
    display: flex
    position: relative
    cursor: pointer

.queue__list
    display: grid
    grid-template-columns: repeat(5, 1fr)
    column-gap: 1px
    width: 245px
    margin: 0

.queue__item
    position: relative
    background: $grey-600
    padding: 15px
    transition: background 200ms ease

    &:first-child
        border-radius: 6px 0 0 6px

    &:last-child
        border-radius: 0 6px 6px 0

    &--filled
        background: $green-700

        .queue__icon
            opacity: 1

    &--interrupted
        background: $red-500

        .queue__icon
            opacity: 1

.queue__icon
    opacity: 0
    transition: opacity 200ms ease

.queue__more
    position: absolute
    right: -65px
    width: 60px
    background: $grey-700
    border-radius: 6px
    text-align: center
    margin-left: 5px
    cursor: pointer
    padding: 15px 0

.queue__pos
    position: absolute
    top: 100%
    left: 50%
    width: 100%
    text-align: center
    background: $grey-700
    border-radius: 3px
    transform: translate(-50%, 4px)

.queue__priority
    position: absolute
    top: 100%
    left: 50%
    width: 100%
    text-align: center
    font-family: monospace
    font-weight: 900
    color: $grey-800
    background: $yellow-500
    transform: translate(-50%, 24px)

@keyframes shake
    10%, 90%
        transform: translate3d(-1px, 0, 0)

    20%, 80%
        transform: translate3d(2px, 0, 0)

    30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)

    40%, 60%
        transform: translate3d(4px, 0, 0)
